/* CSS Base (Mobile First) */
.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px auto; /* Ajustado para 16px */
  padding: 0 20px; /* Ajustado para 20px */
  box-sizing: border-box;
}

.nav__logo {
  height: 50px;
  width: 100px;
}

.nav__links {
  display: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav__link {
  color: #252440;
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  position: relative;
}

.nav__link_active {
  color: #F1F1F1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  border-radius: 10px;
  background: #252440;
  transition: background 0.3s ease-in-out;
}

.nav__link_active:hover {
  background: #427F8C;
}

.nav__link_inactive::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background-color: #252440;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.nav__link_inactive:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.nav__icon {
  display: block;
  height: 40px;
  width: 40px;
}

/* Estilos para tablets */
@media (min-width: 600px) {
  .nav {
      margin: 24px auto;
      padding: 0 30px;
  }

  .nav__links {
      display: inline-flex;
      padding: 10px;
      justify-content: flex-end;
      align-items: center;
      gap: 20px;
  }

  .nav__icon {
      display: none;
  }
}

/* Estilos para desktop */
@media (min-width: 992px) {
  .nav {
      margin: 32px auto 0;
      padding: 0 40px;
  }

  .nav__links {
      gap: 40px;
  }
}
